.wordpicker
    display: flex
    flex-direction: column
    li
        display: flex
        text-align: left
        padding: 0 !important
        margin: 15px 0
        >p,
        >div
            width: 100%
        >p
            font-weight: bold
            margin: 0
.Select-clear,
.Select-clear-zone
    display: none
