// @import url("https://fonts.googleapis.com/css?family=Raleway");
// @import url("https://fonts.googleapis.com/css?family=Montserrat");
// @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");


.strokeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spincanvas {
    // width: 30vw
    // height: 30vw
    // border: 1px solid pink
}

#color_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#color_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
#color_list ul .color_cell {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  list-style: none;
  margin: 0 1em;
  cursor: pointer;
}
#color_list ul #colors_spring {
  background: #62d2a2;
}
#color_list ul #colors_summer {
  background: #ffca61;
}
#color_list ul #colors_autumn {
  background: #ea7362;
}
#color_list ul #colors_winter {
  background: #74ceee;
}
#color_list ul #colors_init {
  background: #50514f;
}
#color_list ul.link_list {
  margin-top: 10px;
}
#color_list ul.link_list li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#color_list ul.link_list li p,
#color_list ul.link_list li span {
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
}
#color_list ul.link_list li p span,
#color_list ul.link_list li span span {
  color: #50514f;
}

#spinSVG
  stroke none
  fill none
  display none

.checkState
    color: black
