$black = #50514F
$blue = #D8EAF9
$white = #F0F0F0
$fb_color = rgba(#3b5998, 0.8)
$bg-color= #ff8888 //start color
$stops= 100 //smoothness
$time= 20s //duration of animation
$hue-range= 20 //of 360deg

#svg
    height: 100px
//   stroke none
//   fill none
//   display none

.dropZone
    width: 200px
    height: 200px
    border-width: 2px
    border-color: rgb(102, 102, 102)
    border-style: dashed
    border-radius: 5px
